.icono:hover {
	cursor: pointer;
}

.card hr{
	background-color: #343A40;
}

.borde_vehiculo{
	background-color: #EDEDED;
}

/*Mapa de Google*/
#contMapa {
	height: 500px;
    width: 100%;
}
/****************/